.loading {
  text-align: center;
}

.header {
  border-bottom: 1px solid #eaebeb;
  height: 60px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  height: 60px;
}

.restaurant-info {
  display: flex;
  flex-direction: row;
}

.restaurant-info > img {
  width: 350px;
}

.content {
  background-color: #f4f5f5;
}

.details {
  display: flex;
  flex-direction: row;
}
