.loading {
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* HEADER, LOGO & DESCRIPTION */
.header {
  background: #fff;
}

.top {
  border-bottom: 1px solid #e9ebeb;
}

.top-logo,
.restaurant-infostext {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}

.restaurant-infostext {
  padding: 30px 0;
  align-items: flex-start;
}

.restaurant-description {
  flex: 1 1;
  margin-right: 30px;
}

.restaurant-description > p {
  color: #868a8a;
  font-size: 1.2rem;
  line-height: 1.5;
}

.restaurant-infostext > img {
  width: 350px;
  border-radius: 5px;
  overflow: hidden;
  background: #f3f5f5;
}

/* Content */
.body {
  box-sizing: border-box;
  background: #f3f5f5;
  color: #2e3333;
}

.content {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* Choix des menus */
.menus {
  flex: 1 1;
  margin-right: 30px;
  margin-bottom: -25px;
}

.choix-menu {
  flex: 1 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  margin-right: 30px;
  margin-bottom: -25px;
}

.menu-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.menu-content {
  width: 50%;
  min-width: 300px;
  padding: 0 10px 25px;
}

.menu-card {
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #fff;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
}

.menu-text {
  flex: 1 1;
  margin-right: 15px;
}
.menu-text > h3 {
  font-weight: 400;
  margin: 0 0 0.5rem;
}
.menu-picture {
  height: 130px;
  width: 130px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.menu-picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu-text > p {
  font-size: 0.9rem;
  color: #808484;
  line-height: 1.3rem;
  height: 2.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 1rem;
}

.menu-infos {
  display: flex;
  align-items: center;
}

.menu-price {
  color: #808484;
  font-size: 1.1rem;
}

.menu-popular {
  color: #ff8000;
  font-size: 0.8rem;
  margin-left: 1rem;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Panier */
.panier {
  width: 350px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.add-button,
.minus-button {
  color: #00cdbd;
  padding: 0;
  border: none;
  background: none;
}
.panier-card {
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
  background: #fff;
  border-radius: 4px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 30px 0;
}

.panier-choix {
  border-bottom: 1px solid #d1d7d7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(209, 215, 215);
  margin: 0 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  max-height: calc(100vh - 300px);
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
}

.panier-valider {
  display: block;
  margin: 10px;
  border-radius: 5px;
  padding: 1rem;
  background: #00cdbd;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 1rem;
}

.panier-produits {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
  padding-top: 1rem;
  padding-right: 0px;
  padding-bottom: 1rem;
  padding-left: 0px;
}

.panier-counter {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #808484;
}

.panier-counter > span {
  min-width: 1rem;
  text-align: center;
}
.panier-total {
  display: flex;
  align-items: flex-start;
  padding: 1.3rem 0;
  padding-top: 1.3rem;
  padding-right: 0px;
  padding-bottom: 1.3rem;
  padding-left: 0px;
  margin: 0 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}

.panier-resultat {
  margin: 0 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding: 10px 0;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  border-bottom: 1px solid #d1d7d7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(209, 215, 215);
}

.panier-item-name {
  flex: 1 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.panier-prix {
  width: 85px;
  text-align: right;
}

.panier-text {
  flex: 1 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.panier-sous-total,
.panier-fraisdelivraison,
.panier-produits {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  padding-top: 0.5rem;
  padding-right: 0px;
  padding-bottom: 0.5rem;
  padding-left: 0px;
}
